{% extends 'BootCRUDApp/base.html' %}

{% block content %}
<!--add item form-->
<form class="form-group" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary">Submit</button>
</form>

<!--arrange items in grid-->
<div class="gridContainer">
{% if all_items %}
{% for item in all_items %}

<!--iterate to card-->
<div class="card">
        <img src="{{ item.imageURL }}" class="card-img-top" alt="item for sale">

        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">${{ item.price }}<br>{{ item.description }}</p>
            <a href="{% url 'editItem' item.id %}" class="btn btn-primary" >Edit This Item</a>
        </div>

</div>
{% endfor %}
</div>
{% else %}
<p>No Items</p>

{% endif %}

{% endblock content %}